{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/description.css">
{% endblock %}
{% block content %}
<main class="container">
{% for description in descriptions %}
	<h1 class="m-5">{{description.name}}</h1>
	
	<div class="description">
	
			<h2>Description</h2>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>
 {% endfor %}
{# Unfinished code for cards
	<div class="row ">
			{% for image in images %}
				<div class="col-lg-6 col-md-12 p-5">
					<figure class="card">
						<img src="assets/images/placehorderevent.jpeg" class="card-img-top" alt="">
						<figcaption class="card-body d-flex align-items-center">	
						</figcaption>
					</figure>
				</div>
			{% endfor %}
		</div> #}
	</main>
{% endblock %}
