{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/description.css">
{% endblock %}
{% block content %}
<main class="container vh-100 ">
	<body>
	<h1 class="m-5">{{event.name}}</h1>
	
	<div class="description">
	
			<h2>Description</h2>
			<p> {{event.description}}</p>
	</div>
	</body>
	</main>
{% endblock %}
