{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/events.css">
{% endblock %}
{% block content %}
	<main class="container">
		<div class="eventTitle">
			<h1>Evenements</h1>
		</div>
		<div class="toComeTitle">
			<h2>A Venir</h2>
		</div>
		<div class="row">
			{% for event in events %}
			{% if event.date > 'now'|date("Y-m-d") %}
				<div class="col-lg-4 col-md-6 col-sm-12 ">
					<div class="card border border-secondary future-events rounded-">
						<h3>
							{{event.name}}
						</h3>
						<img class="card" src={% if event.image_link is empty %}"assets/images/placeholderevent.jpeg" {% endif %} alt="{{ event.name }}">
						
						<p class = "date">
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-calendar4 mt-1" viewbox="0 0 16 16">
								<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
							</svg>
							{{event.date|date("m/d/Y")}}
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-geo-alt " viewbox="0 0 16 16">
								<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
								<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							</svg>
							{{event.address}}
						</p>
						<a href="#" class="btn  w-75 d-flex justify-content-center ms-5 mb-3 btn-light">Plus d'Info </a>
					</div>
				</div>
				{% endif %}
			{% endfor %}
			<h2>Passé</h2>
		</div>
	</main>
{% endblock %}
