{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/events.css">
{% endblock %}
{% block content %}
	<main class="container">
		<div class="eventTitle">
			<h1 class="lacetitle d-flex align-items-center">Évènements</h1>
		</div>
			<h2>À Venir</h2>
		<div class="toComeTitle">
		</div>
		<div class="row">
			{% for event in events %}
				{% if event.date > 'now'|date("Y-m-d") %}
					{% include "Includes/_card.html.twig" %}
				{% endif %}
			{% endfor %}
			<h2>Passés</h2>
			{% for event in events %}
				{% if event.date < 'now'|date("Y-m-d") %}
					{% include "Includes/_card.html.twig" %}
				{% endif %}
			{% endfor %}
		</div>
	</main>
{% endblock %}
