{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminworkshop.css">

{% endblock %}

{% block header %}
	
{% endblock %}

{% block content %}
	<main class="container">
		<h1 class=" d-flex justify-content-center m-5">Admin ateliers</h1>
		<div class="row ">
			<ul>
				{% for workshop in workshops %}
					<li class=' m-4'>
						<h2>{{ workshop.name }}</h2>

						<p>
							{{ workshop.description }}
						</p>
					</li>
				</ul>
			{% endfor %}
		</div>
	</main>
{% endblock %}
