{% extends 'layout_admin.html.twig' %}

{% block content %}
	<main class="container">
		<h1 class=" d-flex justify-content-center m-5">Admin ateliers</h1>
		<div class="row container-fluid d-flex justify-content-center m-auto">
			<a class="text-decoration-none btn col-lg-1 col-md-3 justify-self-center" href="/admin/atelier/ajouter">Ajouter</a>
		</div>
		<table class="table table-hover">
			<tbody>
				{% for workshop in workshops %}
					<tr>
						<th class="align-middle">{{ workshop.name }}</th>
						<td>
							<a class="text-decoration-none btn my-1" href="/admin/atelier/modifier?id={{ workshop.id }}">Modifier</a>
						</td>
						<td>
							<form action="/admin/atelier/supprimer" method="POST" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet atelier ?')">
								<input type="hidden" name="id" value="{{ workshop.id }}">
								<button class="btn my-1">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
