{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminworkshop.css">

{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	<main class="container">
		<h1 class=" d-flex justify-content-center m-5">Admin ateliers</h1>
		<table class="table table-hover">
			<tbody>
				{% for workshop in workshops %}


					<tr>
						<th>{{ workshop.name }}</th>
						<td>Modifier</td>
						<td>Supprimer</td>
					</tr>


				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
