{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
<main class="container">
	<h1 class="lacetitle d-flex justify-content-center align-items-center m-5">Connexion administrateur</h1>
	{% if errors is not empty %}
	<div class="d-flex flex-column align-items-center col-4 mt-2  w-100">
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
	<form method="post" class="vh-100">
		<div class="mb-3">
			<label for="email" class="form-label">Adresse mail</label>
			<input type="email" class="form-control" id="email" name="email">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Mot de passe</label>
			<input type="password" class="form-control" id="password" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Connexion</button>
	</form>
</main>
{% endblock %}
