{% extends 'layout.html.twig' %}

{% block content %}
<main class="container">
	<h1>Login</h1>
	{% if errors is not empty %}
	<div class="d-flex flex-column align-items-center col-4 mt-2  w-100">
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
	<form method="post" action="" class="vh-100">
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" id="email" name="email">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" id="password" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</main>
{% endblock %}
