<section class="bagad-cercle">

<div class="card container col-lg-7 bg-primary">
	<div class="card container col-lg-11 px-4 my-5">
		<div class="d-flex flex-column justify-content-between mx-4">
			<h2 class="title m-5 align-self-center">Le Bagad</h2>
			<img src="/assets/images/bagad.jpg" class="w-100" alt="groupe Bagad">
			<p class="text my-5">
				Bagad signifie "troupe" en breton. Au pluriel, bagad devient bagadoù.
				<br>
				Le bagad est une formation récente, créée à la fin de la Seconde Guerre mondiale.
				<br>
				Né de l'inspiration du pipe band écossais associant cornemuses et caisses claires écossaises, le bagad comprend aussi un pupitre de bombardes.
				<br>
				<br>
				Les pipe bands ont structuré leur musique d'une façon assez formelle, les bagadoù ne les ont pas suivis dans cette voie, et cela donne une diversité plus importante, à la fois dans les airs interprétés et dans les styles de jeu.
				<br>
				<br>
				Le style moins "militaire" et la présence de bombardes résultent en un son généralement plus doux, plus agréable.
				<br>
				Le Bagad d'Orléans a été créé en 1954 par M. Lucien Pécaud. Pour sa première sortie, le 8 mai de cette année-là, il était composé de deux tambours, deux binious et cinq bombardes.
			</p>
		</div>
	</div>

	<div class="card container col-lg-11 px-4 my-5">
		<div class="d-flex flex-column justify-content-between mx-4">
			<h2 class="title m-5 align-self-center">Le Cercle</h2>
			<img src="/assets/images/cercle.jpg" class="mw-100" alt="groupe Cercle">

			<p class="text my-5">
				Le Cercle Celtique d'Orléans a été créé en 1934 par M Gilard.
				<br>
				Il a adhéré à la Fédération War'l Leur en 1982 et, sous l'impulsion de M Albert Péron, alors Président de l'Union Bretonne du Loiret, le Cercle d'Orléans a pu participer pour la première fois à des manifestations importantes en Bretagne (Festival Interceltique de Lorient, Fêtes de Cornouailles à Quimper, Fête des Filets Bleus à Concarneau, Fête des Bruyères à Beuzec Cap Sizun, Fêtes d'Arvor à Vannes, etc...)
				<br>
				<br>
				Ses danseuses et danseurs participent régulièrement au fameux Concours de Gavottes du Menez Meur.
				<br>
				<br>
				Le travail des danseurs, la qualité et la rigueur dans le port des costumes et dans l'interprétation des danses traditionnelles, ainsi qu'une volonté d'ouverture vers des spectacles et des chorégraphies évolutives, ont permis à la Kevrenn Orleañs d'atteindre un niveau comparable à celui de certains groupes de Bretagne. Il en résulte une reconnaissance de ce que savent faire des "Bretons loin du pays" puisque le Cercle d'Orléans a été le premier Cercle "émigré hors de Bretagne" à être autorisé à participer au Festival de Cornouailles et à être classé parmi ceux de Bretagne.
			</p>
		</div>
	</div>
	</div>

</section>
