<header>
	<div class="header d-flex flex-column justify-content-center align-items-center h-100">
		<h1 class="mt-5">KEVRENN ORLEANS</h1>
		<h2>Union bretonne du Loiret</h2>
	</div>

	<div class="separationX"></div>
</header>
