<section class="presentation d-flex flex-column align-items-center">

	<h2 class="card-title">Présentation</h2>

	<div class="card container">
		<div class="row container flex-row justify-content-center align-items-center  mx-auto">
			<img src="/assets/images/presentation.jpg" class="col-lg-6 my-4" alt="groupe Kevrenn">
			<div class="col-lg-6">
				<div class="card-body">
					<p class="card-text">
						L'Union Bretonne du Loiret a été créée en 1927 par le géographe Louis Gallouedec.
						<br>
						Elle accueille aujourd'hui tous ceux qui aiment la Bretagne et la culture bretonne.
						<br>
						<br>
						La KEVRENN ORLEANS, terme adopté en 1995 pour identifier le groupe en Bretagne, représente principalement le Cercle et le Bagad, mais aussi l'ensemble de l'Union Bretonne.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="history d-flex flex-column align-items-center">

	<h2 class="card-title">Histoire</h2>

	<div class="card container">
		<div class="row container flex-row justify-content-center align-items-center mx-auto">
			<div class="col-lg-6">
				<div class="card-body">
					<p class="card-text">
						Fondateur de l'Union Bretonne du Loiret en 1927, Louis Gallouedec est né à Morlaix le 17 février 1864, d'une famille modeste (son père était cheminot). 
						<br>
						<br>
						Dès 1910, il publiait un grand ouvrage de synthèse sur sa région d'adoption "La Loire, étude de fleuve", où non seulement son talent de géographe pourra s'exprimer mais également où il démontre l'intérêt qu'il porte à sa gestion administrative, ce qui le conduira tout naturellement à entrer en politique.
					</p>
				</div>
			</div>
			<img src="/assets/images/histoire.jpg" class="col-lg-6 my-4" alt="création Kevrenn">

		</div>
	</div>
</section>
