<section class="presentation">

	<div class="title">
		<img src="/assets/images/dentelle-gauche.png" class="left-lace" alt="dentelle">
		<h2 class="card-title text-center">Présentation</h2>
		<img src="/assets/images/dentelle-droite.png" class="right-lace" alt="dentelle">
	</div>
	<div class="card m-3 ">
		<div class="row flex-row justify-content-center align-items-center">
			<img src="/assets/images/presentation.jpg" class="col-lg-6" alt="groupe Kevrenn">
			<div class="col-lg-6">
				<div class="card-body">
					<p class="card-text">
						L'Union Bretonne du Loiret a été créée en 1927 par le géographe Louis Gallouedec afin de permettre aux bretons, venus nombreux dans la région orléanaise, de se retrouver au sein d'une communauté.
						<br>
						Elle accueille aujourd'hui tous ceux qui aiment la Bretagne et qui veulent aider à promouvoir la culture bretonne sous toutes ses formes, principalement par la danse, la musique, le chant, la langue et le costume.
						<br>
						Son siège social est situé à la maison des provinces d'Orléans, 23 ter boulevard Jean Jaurès, sous la patinoire du Baron.
						<br>
						La KEVRENN ORLEANS, terme adopté en 1995 pour identifier le groupe en Bretagne, représente principalement le Cercle et le Bagad, mais aussi l'ensemble de l'Union Bretonne.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="history">
	<div class="title">
		<img src="/assets/images/dentelle-gauche.png" class="left-lace" alt="dentelle">
		<h2 class="card-title text-center">Histoire</h2>
		<img src="/assets/images/dentelle-droite.png" class="right-lace" alt="dentelle">
	</div>
	<div class="card m-3">
		<div class="row flex-row justify-content-center align-items-center">
			<div class="col-lg-6">
				<div class="card-body">
					<p class="card-text">
						Fondateur de l'Union Bretonne du Loiret en 1927, Louis Gallouedec est né à Morlaix le 17 février 1864, d'une famille modeste (son père était cheminot). Il entame son cursus scolaire à l'école primaire de Vitré, puis au lycée de Laval, et de Montmartre. Il intègrera ensuite l'Ecole Normale Supérieure d'où il sortira en 1888 agrégé d'histoire et de géographie. Il est nommé au lycée Pothier d'Orléans où il exercera jusqu'en 1901 puis à Paris.
						<br>
						Dès 1910, il publiait un grand ouvrage de synthèse sur sa région d'adoption "La Loire, étude de fleuve", où non seulement son talent de géographe pourra s'exprimer mais également où il démontre l'intérêt qu'il porte à sa gestion administrative, ce qui le conduira tout naturellement à entrer en politique.
						<br>
						Conseiller municipal de Saint-Jean-de-Braye où il réside, il devient conseiller général en 1907 et le restera jusqu'à sa mort, le 23 janvier 1937. En 1911, il devient inspecteur général de l'Instruction publique, fonction qu'il exercera jusqu'en 1934, puis maire de Saint-Jean-de-Braye en 1912. Il sera président du conseil général du Loiret de 1933 à 1936.
					</p>
				</div>
			</div>
			<img src="/assets/images/histoire.jpg" class="col-lg-6" alt="création Kevrenn">

		</div>
	</div>
</section>
