{% extends 'layout_admin.html.twig' %}

{% block content %}
	<main>
		<h1 class="m-5 text-center">Ajouter un partenaire</h1>
		{% include '/Admin/Partner/_form.html.twig' %}
		<div class="mw-100 text-center">
			<a class="text-decoration-none btn my-1" href="/admin/partenaires/">Retour à la liste des partenaires</a>
		</div>
	</main>
{% endblock %}

{% block footer %}{% endblock %}
