<form method="post">
	<input type="hidden" value="{{ event.id }}" name="id">
	<label for="title">Tile</label>
	<input type="text" value="{{ event.title }}" name="title" id="title">
	<button>Submit</button>
</form>
