{% extends 'layout_admin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminevent.css">
{% endblock %}

{% block content %}
	<main>
		<h1 class="m-5 text-center">Modifier un évènement</h1>
		{% include '/Admin/Event/_form.html.twig' %}
		<div class="mw-100 text-center">
			<a class="text-decoration-none" href="/admin/evenements/">Retour à la liste des évènements</a>
		</div>
	</main>
{% endblock %}

{% block footer %}{% endblock %}