{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminevents.css">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
	<main class="container">
		<h1 class=" d-flex justify-content-center m-5">Admin Événements</h1>
		<table class="table table-hover">
			<tbody>
				{% for event in events %}
					<tr>
						<th>{{ event.name }}</th>
						<th><button class="btn my-1"><a class="text-decoration-none" href="/admin/evenements/edit?id={{ event.id }}">Modifier</a></button></th>
						<th><button class="btn my-1"><a class="text-decoration-none" href="/admin/evenements/show?id={{ event.id }}">Supprimer</a></button></th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}