h1 {
    font-size: var(--title-sizeh1);
}
h1,
h2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
h2 {
    font-size: var(--title-sizeh2);
}
h3 {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    color: aliceblue;
    font-size: var(--title-sizeh3);
}
p {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.date {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.border-secondary {
    margin-bottom: 5rem;
}
.card {
    background-color: var(--bs-primary);
}

img {
    height: 300px;
    object-fit: cover;
}
.btn {
    background-color: aliceblue;
    color: var(--bs-dark);
}
.btn:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}