section {
    padding-block: 4rem;
}

.history img + .presentation img {
    width: clamp(300px, 40vw, 600px);
}

.card-title {
    margin-bottom: 3rem;
}

h2::before {
    content: url('/assets/images/dentelle-gauche.png');
    position: relative;
    left: 50px;
    top: 30px
}

h2::after {
    content: url('/assets/images/dentelle-droite.png');
    position: relative;
    right: 50px;
    top: 30px
}

.members>h2::after, .partners>h2::after {
    content: url('/assets/images/dentelle-droite-blanche.png');
    position: relative;
    right: 50px;
    top: 30px
}

.members>h2::before, .partners>h2::before {
    content: url('/assets/images/dentelle-gauche-blanche.png');
    position: relative;
    left: 50px;
    top: 30px
}

.logoPartner {
    filter: grayscale(1);
    transition: filter 0.5s;
}

.logoPartner:hover {
    filter: none;
}

.logoPartner img {
    width: 150px;
}


.separationX {
    background-image: url('/assets/images/sep-lace-primary.png');
    background-size: contain;
    height: 2rem;
}

.separationX-white {
    background-image: url('/assets/images/sep-lace-white.png');
    background-size: contain;
    height: 2rem;
}

.separationX-white.top{
    top: -4rem;
}

.separationX-white.bottom{
    top: 4rem;
}


@media screen and (max-width:700px) {
    h2::before {
        content: "";
    }
    
    h2::after {
        content: "";
    }
    
    .members>h2::after, .partners>h2::after {
        content: "";
    }
    
    .members>h2::before, .partners>h2::before {
        content: "";
    }
}

@media screen and (max-width:1000px) {
    .separation {
        display: none;
    }
}