section {
    margin-block-start: 4rem;
}

.history img + .presentation img {
    width: clamp(300px, 40vw, 600px);
}

.title {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

h2::before {
    content: url('/assets/images/dentelle-gauche.png');
    position: relative;
    left: 35px;
    top: 30px
}

h2::after {
    content: url('/assets/images/dentelle-droite.png');
    position: relative;
    right: 35px;
    top: 30px
}

.members>h2::after {
    content: url('/assets/images/dentelle-droite-blanche.png');
    position: relative;
    right: 35px;
    top: 30px
}

.members>h2::before {
    content: url('/assets/images/dentelle-gauche-blanche.png');
    position: relative;
    left: 35px;
    top: 30px
}