button{
    font-size: var(--text-size);
}

button:hover{
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}

.btn{
    font-size: var(--text-size);
}

.btn:hover{
    color: var(--bs-light);
}

a:hover{
    background-color: var(--bs-secondary);
    color: var(--bs-primary-light);
}

.adminMembres img {
    width: 100px;
    height: 100px;
}

.adminPartner img {
    width: fit-content;
}
