@font-face {
    font-family: 'eagle_lakeregular';
    src: url('../font/eaglelake-regular-webfont.woff2') format('woff2'),
        url('../font/eaglelake-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap');


:root {
    --bs-primary-rgb: 0, 92, 103;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-secondary: #478A78;
    --bs-primary-light: #8EBEC8;
    --bs-dark: #0D363F;
    --bs-light: #EAEDEC;
    --title-font: 'eagle_lakeregular', arial;
    --text-font: 'Poppins', sans-serif;


    --text-size: 1.25rem;
    --title-sizeh1:calc(var(--text-size) * 3); 
    --title-sizeh2:calc(var(--text-size) * 2); 
    --title-sizeh3:calc(var(--text-size) * 1.5); 
    
}

body {
    color: var(--bs-dark);
    font-family: var(--text-font);
    font-size: var(--text-size);
    margin: 0;
    background-color: var(--bs-light);
}

h1, h2, h3 {
    font-family: var(--title-font);
    color: var(--bs-dark);
}

.lacetitle::before {
    content: url('/assets/images/dentelle-gauche.png');
    left: 50px;
    top: 30px
}

.lacetitle::after {
    content: url('/assets/images/dentelle-droite.png');
    right: 50px;
    top: 30px
}

button{
    font-size: var(--text-size);
}


.logo {
    height: 45px;
}

@media screen and (max-width:768px) {
    .lacetitle::before {
        content: "";
    }
    
    .lacetitle::after {
        content: "";
    }
}
