{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/description.css">
{% endblock %}
{% block content %}
<main class="container vh-100 ">
	<body>
	<h1 class="m-5">{{workshop.name}}</h1>
	
	<div class="description">
	
			<h2>Description</h2>
			<p> {{workshop.description}}</p>
	</div>
	<div class="d-flex">
		<img class="mt-5 align-middle justify-content-center" alt="" src="/assets/images/placehorderworkshop.jpg" >
	</div>
	</body>
	</main>
{% endblock %}
