{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminmember.css">
{% endblock %}

{% block content %}
	<main>
		<h1 class="m-5 text-center">Ajouter un membre</h1>
		{% include '/Admin/Member/_form.html.twig' %}
		<div class="mw-100 text-center">
			<a class="text-decoration-none btn my-1" href="/admin/membres/">Retour à la liste des membres</a>
		</div>
	</main>
{% endblock %}

{% block footer %}{% endblock %}
